<header style="background-color: #0062cc;height: 30px;">
</header>

<div  class="container">
  <h2>{{message}}</h2>
  
  <img  src="assets/students_schoool_footer2.png"  style="height: 180px;"/>
     <img  src="assets/students_schoool_footer2.png"  style="height: 180px;"/>
       <img  src="assets/students_schoool_footer2.png"  style="height: 180px;"/>
      <hr/>
     
      <form>
      
       <div class="form-group" style="width: 60%">
         <label>Username</label>
         <input #santosh  type="text"  name="username" class="form-control">
      
      </div>
      
      <div class="form-group" style="width: 60%">
         <label>Password</label>
         <input #password  type="password" name="password" class="form-control">
      </div>
      
        
    <div class="form-group" style="width: 60%">
         <label>Email</label>
         <input #email type="email"  name="email" class="form-control">
      </div>
      
        <div class="form-group" style="width: 60%">
         <label>Mobile</label>
         <input type="number" name="mobile" class="form-control">
      </div>
      
         <div class="form-group" style="width: 60%">
         <label>Address</label>
         <textarea rows="3" name="address" class="form-control"></textarea> 
         
      </div>
      
        <div class="form-group" style="width: 60%">
       <button (click)="process(santosh, password,email);" type="button" class="btn btn-primary">Signup</button>
        &nbsp;&nbsp;
           <button type="reset" class="btn btn-danger">Clear</button>
           
      </div>
      </form>
  
</div>